* {
    font-family: 'Roboto';
}



/* NavBar Section */

h1 {
    margin-top: 5px;
    color: white;
}

.nav {
    background-color: rgb(51,51,51);
    display: flex;
    justify-content: space-between;
    padding: 5x 10px;
    height: 50px;
}

.nav-title {
    color: white;
    padding-left: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    align-content: center;
}

.active {
    color: white;
}


a {
    text-decoration: none;
    color: lightgrey;
}

li {
    list-style-type: none;
}

button {
    background-color: rgb(30,162,184);
    color: white;
    box-shadow: black 3px 3px 0px;
    border: 2px solid black;
    height: 25px;
    margin-top: -3px;
}





/* UserCard Section */

.fullsite {
    display: flex;
    justify-content: center;
}


.container {
    background-color: white;
    width: 600px;
    border: 3px solid rgb(204,204,204);
    margin: 50px;
}

.aquabox {
    background-color: rgb(30,162,184);
    height: 75px;
    padding-left: 50px;
    padding-top: 50px;
}


.profilepic {
    width: 125px;
    height: 125px;
    border: 3px solid rgb(204,204,204);
    border-radius: 50%;
}

.whitebox {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.name {
    color: black;
    padding-top: 15px;
    padding-bottom: 10px;
}

p {
    padding-top: 5px;
}

.mapmarker {
    padding-right: 10px;
    width: 12.5px;
    height: 20px;
}

.gearicon {
    width: 25px;
    height: 25px;
    padding-top: 10px;
    padding-right: 5px;
}
.editprofile {
    color:rgb(100,128,172);
    text-decoration: underline;
}

/* UserCard Section Ends Here! */
/* Education Section Begins Here! */

.container2 {
    background-color: white;
    width: 600px;
    border: 3px solid rgb(204,204,204);
    margin: 50px;
}

.edubox {
    color: white;
    background-color: black;
    width: 600px;
    height: 50px;
    position: absolute;
}

.education {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.whitebox2 {
    padding: 10px;
    margin: 10px;
    padding-top: 50px;
}

.text2 {
    color: rgb(127,127,127)
}


/* Education Box Ends Here! */
/* Connections Requests Begins Here! */

.container3 {
    background-color: none;
    width: 500px;
    border: 3px solid rgb(204,204,204);
    margin: 50px;
}

.connectionrequestsbox {
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
}

.connectionrequestbox h1 {
    margin: 0px;
}

.circle {
    border-radius: 50%;
    background-color: rgb(204,204,204);
    color: black;
    text-align: center;
    line-height: 38px;
    height: 40px;
    width: 40px;
    margin: 10px 10px;
    display: inline-block
}

.requestrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.requestrowleft {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.requestrowleft img {
    border-radius: 50%;
    width: 60px;
}

.requestrowright {
    display: flex;
    gap: 10px;
    padding-right: 10px;
}

.requestrowright img {
    width: 50px;
}

.container4 {
    background-color: none;
    width: 500px;
    border: 3px solid rgb(204,204,204);
    margin: 50px;
}

.yourconnectionsbox {
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
}

.yourconnectionsbox h1 {
    margin: 0px;
}

.oval {
    border-radius: 50%;
    background-color: rgb(204,204,204);
    color: black;
    text-align: center;
    line-height: 38px;
    height: 40px;
    width: 90px;
    margin: 10px 10px;
    display: inline-block
}

.friends {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.friends img {
    border-radius: 50%;
    width: 60px;
}


.viewmore {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    border-top: 3px solid rgb(204,204,204);
}

.viewmore a {
    color: rgb(12,83,148);
    text-decoration: underline;
}







    
    




